:root {
  --clr-primary: hsl(234, 30%, 18%);
  --clr-secondary: hsl(0, 0%, 88%);
  --clr-tertiary: hsl(0, 100%, 70%);

  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-regular: 400;

  --font-primary: "Heebo", sans-serif;
  --font-body: var(--font-primary);
  ---font-heading: var(--font-primary);
  --font-paragraph: var(--font-primary);

  --fs-700: 2.75rem;
  --fs-500: 1.875rem;
  --fs-400: 1.25rem;
}
